<%= simple_form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.input :surname %>
    <%= f.input :name %>
    <%= f.input :patronymic %>
    <%= f.input :birthdate, as: :date %>
    <%= f.input :sex, as: :select, collection: Client.sexes.keys.to_a %>
    <%= f.input :passport_series %>
    <%= f.input :passport_number %>
    <%= f.input :place_of_issue %>
    <%= f.input :date_of_issue, as: :date %>
    <%= f.input :id_number %>
    <%= f.input :birth_place %>
    <%= f.input :address %>
    <%= f.input :home_phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :email %>
    <%= f.input :civil_status, as: :select, collection: Client.civil_statuses.keys.to_a  %>
    <%= f.input :disabled, as: :boolean %>
    <%= f.input :retired, as: :boolean %>
    <%= f.input :salary %>
    <%= f.input :military, as: :boolean %>
    <%= f.association :city, include_blank: false %>
    <%= f.button :submit %>
  </div>
<% end %>
