<p id="notice"><%= notice %></p>
<%= @client.surname %>
<%= @client.name %>
<%= @client.patronymic %>
<%= @client.birthdate %>
<%= @client.sex %>
<%= @client.passport_series %>
<%= @client.passport_number %>
<%= @client.place_of_issue %>
<%= @client.date_of_issue %>
<%= @client.id_number %>
<%= @client.birth_place %>
<%= @client.city.name %>
<%= @client.address %>
<%= @client.home_phone %>
<%= @client.mobile_phone %>
<%= @client.email %>
<%= @client.civil_status %>
<%= @client.country %>
<%= @client.disabled %>
<%= @client.retired %>
<%= @client.salary %>
<%= @client.military %>
  
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
